.signupForm1
  form.col.s12
    img.pinto.left(src='/static/img/pinto.png')
    .row
      .col.s12
        h6.center.grey-text Sign Up
    .row
      .col.s12
        h10.center.grey-text Hello, you are almost ready to enjoy Pinto. Simply confirm your email address and we can get started.
    .row
      .input-field.col.s12.center
        a.waves-effect.waves-light.btn.btn-small.green.submit3#submit3 Yes
    .row
      .input-field.col.s12.center
        a.waves-effect.waves-light.btn.btn-small.red.submit2#submit2  X


include ../../template/partials/loader/loader
